*,
* ::after,
* ::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  height: 90vh;
  width: 90vw;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  gap: 1rem;
}
.grocery-list-container{
  min-width: 20%;
  min-height: 30%;
}
.list-item{
  padding: 0.5rem;
}
.list-item:hover,
.list-item:focus{
  text-transform: uppercase;
  font-weight: bolder;
}